// Footer

.greybar
	@include size(100%, 90px)
	background: rgb(245,246,246)
	clear: both
	padding-top: 30px

footer
	@include size(100%, 120px)
	background: rgb(48,53,61)
	text-align: center
	color: $secondaryColor
	padding-top: 50px

.social-media
	margin: 0 auto
	width: 165px
	div
		float: left
		margin-right: 5px
		@for $i from 1 through 4
			&:nth-of-type(#{$i})
				background: getImageURL('social-media.png') leftOffset($i, $spriteSize + $spriteOffset) 0
	a
		display: block
		@include size($spriteSize, $spriteSize)
		text-indent: -9999px
